<!-- About Section -->
 
<section id="about" class="container mx-auto px-4 sm:px-6 py-24 md:py-28 dark:text-gray-200">
  <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-8 md:mb-6 dark:text-cyan-400 text-center md:text-left animate-fade-in">
    About Me
  </h2>
  
  <div class="flex flex-col lg:flex-row gap-8 md:gap-12 items-stretch">
    <!-- Text Content -->
    <div class="w-full lg:w-1/2 animate-slide-left flex flex-col justify-center">
      <div class="text-lg md:text-xl text-gray-600 dark:text-gray-400 leading-relaxed">
        <p class="mb-4">
          Je suis étudiant en troisième année de Génie Informatique. Mon objectif est de construire une carrière
          épanouissante où je pourrai mettre en œuvre mes compétences et connaissances pour contribuer à l'innovation et aux technologies de pointe. Je suis sérieux et attentif aux détails.
        </p>
      </div>
      
      <h3 class="mt-8 text-xl md:text-2xl font-semibold dark:text-cyan-300">Vie associative</h3>
      <ul class="list-none mt-4 space-y-3 profile-list">
        <li class="profile-item flex items-center text-right text-gray-600">
          <span class="bullet"></span>
          <span> Membre de l'IEEE IIT</span>
        </li>
        <li class="profile-item flex items-center text-gray-600">
          <span class="bullet"></span>
          <span>Membre de l'ACM IIT</span>
        </li>
      </ul>
    </div>

    <!-- Images Grid -->
    <div class="w-full lg:w-1/2 flex items-stretch">
      <div class="grid grid-cols-6  md:gap-6 w-full h-full">
        <!-- Grande image à gauche -->
        <div class="col-span-3  h-full animate-zoom-in">
          <img 
            src="assets/pic3.jpg" 
            alt="Yassine Abdennadher" 
            class="max-w-[250px] h-full object-cover rounded-2xl shadow-lg image-hover"
          >
        </div>
        
        <!-- Deux images empilées à droite -->
        <div class="flex flex-col  h-full justify-between">
          <img 
            src="assets/pic1.jpg" 
            alt="Projet 1" 
            class="min-w-[280px] h-1/2 object-cover rounded-2xl shadow-md image-hover animate-slide-right"
          >
          <img 
            src="assets/pic2.jpg" 
            alt="Projet 2" 
            class="min-w-[280px] h-1/2 object-cover rounded-2xl shadow-md image-hover animate-slide-right delay-200"
          >
        </div>
      </div>
    </div>
  </div>
</section>
