<!-- Header en premier -->
<app-header></app-header>

<!-- Hero Section -->
<app-hero-secion></app-hero-secion>

<div class="dark:bg-gray-950">
  <!-- About Section -->
  <div class="bg-gray-50 dark:bg-gray-950">
    <app-about-me id="about"></app-about-me>
    <app-education id="education"></app-education>
    <app-experience id="experience"></app-experience>
    <app-skills id="skills"></app-skills>
    <app-projects id="projects"></app-projects>
    <app-certifications id="certifications"></app-certifications>
  </div>
  
  <app-button-retour></app-button-retour>
  
  <!-- Footer -->
  <footer class="bg-cyan-600 dark:bg-gray-900 text-white py-6 text-center transition-all duration-500">
    <p>&copy; 2025 Yassine Abdennadher. Tous droits réservés.</p>
  </footer>
</div>